<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>List of the products:</h1>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Cost</td>
            <td>More</td>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="products" type="java.util.List<com.geek.brains.model.Product>"*/-->
        <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.cost}"></td>
                <td><a th:href="@{'/products/edit/' + ${p.id}}" >edit</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>