<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>My first project with Spring</h1>
    <br>
    <h4>Catalog</h4>
    <br>
    <a th:href="@{/products}">List of products:</a>
    <br>
    <a th:href="@{/products/add}">Add a new product</a>
    <br>
<!--    <a th:href="@{/show_mod_form}">Работа с MOD формой</a>-->
<!--    <br>-->
<!--    <a th:href="@{/students/show_form}">Работа с формой для студентов</a>-->
</body>
</html>